################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/.vs/A24 Ex02 NeomiBashari 207087487 AvichaiGalOr 207051848/FileContentIndex
